.ProjectCardsContent{
    background-image: url("../../Assets/Pattern.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    @apply flex flex-col justify-center items-center flex-wrap w-full mt-10 space-y-10
    md:flex-row md:justify-evenly md:w-[80%]
    lg:md:w-[90%]
    xl:md:w-[70%]
    2xl:md:w-[55%]
}