.AboutUsBannerContainer{
    @apply flex flex-col items-center justify-center w-full px-6
    md:px-0
}
.AboutUsBannerContent{
    @apply flex flex-col items-center justify-center w-full
    md:w-[90%]
    lg:w-[70%]
    xl:w-[60%]
    2xl:w-[40%]
}
.AboutUsTitle{
    @apply text-[#030211] font-bold text-4xl mt-2
    flex flex-row items-center justify-center
    sm:text-5xl
    md:text-6xl
    xl:text-7xl
}
.AboutUsDesc{
    @apply text-[#7C7C7C] font-medium text-base mt-2.5 w-full
    sm:text-lg
    md:text-xl
}